body {
  margin: 0px;
}

.navbar-container {
  min-width: calc(100vw - 20px);
  background-color: white;
  font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightblue;
  position: fixed;
  top: 0;
  z-index: 5;
}

.navbar-logo {
  min-height: 100px;
  min-width: 165px;
  background-size: contain;
  background-image: url("../images/ACH-full-logo.png");
}

.navbar-links {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 1px;
}

.navbar-links > li {
  list-style-type: none;
  margin-right: 30px;
}

.navbar-appts {
  position: relative;
}

.navbar-appts:hover .navbar-appts-popup{
  visibility: visible;
}

.navbar-appts-text {
  color: lightgrey;
  text-decoration: line-through;
}

.navbar-appts-popup {
  visibility: hidden;
  font-size: 8px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  border: 1px solid lightblue;
  border-radius: 3px;
  text-align: center;
}

.navbar-links > li > a {
  color: black;
  text-decoration: none;
}

.navbar-links > li > a:hover {
  color: lightblue;
  border-bottom: 2px solid lightblue;
}

.navbar-contact-number {
  min-width: 105px;
  color: black;
  text-decoration: none;
  background-color: lightblue;
  padding: 0 50px;
  border-radius: 20px;
}

.navbar-contact-number:hover {
  color: lightblue;
  background-color: black;
}
